<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body allStudent">
            <mat-sidenav-container class="task-container">
              <mat-sidenav #sidenav [mode]="mode.value" position="end">
                <div class="data-container">
                  <div class="header">
                    <h2 class="header-title">Enrolled Courses</h2>
                    <div class="header-close m-l-0">
                      <div class="icon-button-demo">
                        <button mat-mini-fab color="primary" (click)="addEnrCourse(studentId)">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </div>
                      <button mat-icon-button (click)="closeSlider(sidenav)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row m-0">
                    <div class="body table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="course">Course Name</th>
                            <th class="sDate">Start Date</th>
                            <th class="eDate">End Date</th>
                            <th class="action">Actions</th>
                          </tr>
                        </thead>
                        <p class="m-auto text-center" *ngIf="enrolledCourses">{{enrolledCourses.msg}}</p>
                        <tbody *ngIf="enrolledCourses?.length >= 0 && enrolledCourses && enrolledCourses?.length">
                          <tr *ngFor="let course of enrolledCourses">
                            <td class="course">{{course.coursename}}</td>
                            <td class="sDate">{{course.startdate | date:'MM/dd/yyyy'}}</td>
                            <td class="eDate">{{course.enddate | date:'MM/dd/yyyy'}}</td>
                            <td class="action">
                              <button mat-icon-button class="edit" (click)="editEnrCourse(course.studentid)"
                                aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="col-white">edit</mat-icon>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </mat-sidenav>
              <mat-sidenav-content>
                <div class="table-responsive all_Student">
                  <div class="row">
                    <div *ngIf="errorsReq.isError" class="col-6 alert alert-danger m-auto text-center" id="closebtn">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      <strong>Warning!</strong> {{ errorsReq.errorMessage }}
                    </div>
                  </div>
                  <div class="materialTableHeader" style="height: 120px !important;">
                    <div class="row m-auto">
                      <div class="col-3">
                        <div class="search row">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Course</mat-label>
                              <mat-select [formControl]="courseIntakeFilter">
                                <mat-option *ngFor="let courseIntake of allCourseIntakeDate"
                                  [value]="courseIntake.courseid">
                                  {{ courseIntake.coursecode }} -
                                  {{ courseIntake.coursename }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="search row">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Agent</mat-label>
                              <mat-select [formControl]="bulkAgentFilter">
                                <mat-option *ngFor="let agent of allAgents" [value]="agent.agentid">
                                  {{ agent.agencyname }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="search row">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Application Status</mat-label>
                              <mat-select [formControl]="bulkApplicationStatusFilter">
                                <mat-option *ngFor="let status of allApplicationStatus"
                                  [value]="status.applicationstatusid">
                                  {{ status.applicationstatusname }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="search row">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Client Id</mat-label>
                              <input matInput type="text" style="color: black" [formControl]="bulkClientIdFilter" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                          <div class="search row">
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width mr-5">
                                <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Usi</mat-label>
                                <input matInput type="text" style="color: black" [formControl]="usiFilter" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="search row">
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width mr-5">
                                <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Name</mat-label>
                                <input matInput type="text" style="color: black" [formControl]="studentNameFilter" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="search row">
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width mr-5">
                                <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Email</mat-label>
                                <input matInput type="text" style="color: black" [formControl]="emailFilter" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="search row">
                            <div class="col-sm-6">
                              <button mat-mini-fab color="primary"
                                (click)="search(courseIntakeFilter.value,bulkAgentFilter.value,bulkApplicationStatusFilter.value,bulkClientIdFilter.value,usiFilter.value,studentNameFilter.value, emailFilter.value)">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                            <div class="col-sm-6">
                              <button mat-mini-fab color="primary" (click)="addNew()">
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                    <ng-container matColumnDef="clientId2">
                      <mat-header-cell *matHeaderCellDef style="min-height: unset;" style="font-size: 13px !important">
                        <div class="searchcolumn">
                          <mat-form-field class="filter" floatLabel="never" style=" width: 70px">
                            <mat-label style="color: white; font-size: 15px;">Client Id</mat-label>
                            <input matInput [formControl]="clientId2Filter" class="white-cursor">
                          </mat-form-field>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        >{{row.clientid}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important">
                        <mat-form-field class="filter" floatLabel="never" style=" width: 95px">
                          <mat-label style="color: white; font-size: 15px;">Name</mat-label>
                          <input matInput [formControl]="nameFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        >
                        <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{row.firstname}}
                          {{row.lastname}}</span>
                      </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="lastName">
                                            <mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="filter" floatLabel="never">
                                                    <mat-label style="color: white; font-size: 15px;">Last Name</mat-label>
                                                    <input matInput [formControl]="lastNameFilter">
                                                </mat-form-field>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"  data-toggle="tooltip" data-placement="right" > {{row.lastName}}
                                            </mat-cell>
                                        </ng-container> -->
                    <ng-container matColumnDef="email2">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important">
                        <mat-form-field class="filter" floatLabel="never" style=" width: 120px">
                          <mat-label style="color: white; font-size: 15px;">Email</mat-label>
                          <input matInput [formControl]="email2Filter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        >
                        <span
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{row.email}}</span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="course">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important">
                        <mat-form-field class="filter" floatLabel="never">
                          <mat-label style="color: white; font-size: 15px;">Course</mat-label>
                          <input matInput [formControl]="courseFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        >
                        <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{row.coursecode}}
                          - {{row.coursename}}</span>
                      </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="courseName">
                                            <mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="filter" floatLabel="never">
                                                    <mat-label style="color: white; font-size: 15px;">Course Name</mat-label>
                                                    <input matInput [formControl]="courseNameFilter">
                                                </mat-form-field>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"  data-toggle="tooltip" data-placement="right" > {{row.courseName}}
                                            </mat-cell>
                                        </ng-container> -->
                    <ng-container matColumnDef="startDate2">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important">
                        <mat-form-field class="filter" floatLabel="never" style=" width: 80px">
                          <mat-label style="color: white; font-size: 15px;">Start Date</mat-label>
                          <input matInput [formControl]="startDateFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        > {{row.startdate| date:'MM/dd/yyyy'}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="endDate2">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important">
                        <mat-form-field class="filter" floatLabel="never" style=" width: 70px">
                          <mat-label style="color: white; font-size: 15px;">End Date</mat-label>
                          <input matInput [formControl]="endDateFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        > {{row.enddate | date:'MM/dd/yyyy'}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="certificateType">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important">
                        <mat-form-field floatLabel="never" style=" width: 60px">
                          <mat-label style="color: white; font-size: 15px;">Type</mat-label>
                          <input matInput [formControl]="certificateType" readonly="true" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        >
                        <label *ngIf="row.certificatetype == 'C'">Certificate</label>
                        <label *ngIf="row.certificatetype == 'S'">Statement</label>
                        <label *ngIf="row.certificatetype == 'R'">Result</label>
                        <label *ngIf="row.certificatetype == 'O'">Statement</label>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="issueDate">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important">
                        <mat-form-field class="filter" floatLabel="never" style=" width: 80px">
                          <mat-label style="color: white; font-size: 15px;">Issue Date</mat-label>
                          <input matInput [formControl]="issueDateFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        > {{row.issueDate}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="certificate">
                      <mat-header-cell *matHeaderCellDef style="text-align: center;" style="font-size: 13px !important">
                        <mat-form-field floatLabel="never">
                          <mat-label style="color: white; font-size: 15px;">Certificate</mat-label>
                          <input matInput [formControl]="certificate" readonly="true" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" style="text-align: center">
                        <span *ngIf="row.certificateFlag == true"
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                          <button type="button" mat-icon-button color="primary" (click)="downloadCertificate(row.certificateid, row.trainerstatenameshort, row.staffid )">
                            <mat-icon style="color: blue;">cloud_download</mat-icon>
                            <!-- <i class="far fa-file-pdf tbl-pdf" style="color: red;"></i> -->
                          </button>
                          Download Certificate
                        </span>
                        <span *ngIf="row.attainmentFlag == true"
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                          <button type="button" mat-icon-button color="primary"
                            (click)="downloadAttainment(row.certificateid)">
                            <mat-icon style="color: blue;">cloud_download</mat-icon>
                            <!-- <i class="far fa-file-pdf tbl-pdf" style="color: red;"></i> -->
                          </button>
                          Download Attainment
                        </span>
                        <span *ngIf="row.sorFlag == true"
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                          <button type="button" mat-icon-button color="primary"
                            (click)="downloadResult(row.certificateid, row.trainerstatenameshort)">
                            <mat-icon style="color: blue;">cloud_download</mat-icon>
                          </button>
                          Download Result
                        </span>
                        <span *ngIf="row.qualificationAttainmentFlag == true"
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                          <button type="button" mat-icon-button color="primary"
                            (click)="downloadQualificationAttainment(row.certificateid)">
                            <mat-icon style="color: blue;">cloud_download</mat-icon>
                          </button>
                          Download Qualification Attainment
                        </span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions2">
                      <mat-header-cell *matHeaderCellDef>
                        <mat-label style="color: white; font-size: 15px;">Actions</mat-label>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index;">
                        <button mat-icon-button class="btn-tbl-edit" title="Edit Info"
                          (click)="editStudent(row)">
                          <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                        </button>
                        <button mat-icon-button class="btn-tbl-edit" title="Delete Certificate"
                          (click)="deleteCertificate(row.studentenrolmentid, row.certificateid)">
                          <mat-icon aria-label="Delete" style="color: red;">delete</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
                    <mat-row class="table-row" [class.focus]="highlighter === i" tabindex="1"
                      *matRowDef="let row;let i=index; columns: displayedColumns;" [style.cursor]="'pointer'"
                      matRipple></mat-row>
                  </mat-table>
                  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
              </mat-sidenav-content>
            </mat-sidenav-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
